<html>
    <title>Главная Страница</title>

<body>
    {%if request.user.is_authenticated%}
        <h3>
            Добро пожаловать, {{request.user.username}}
        </h3>
        <a href="{%url 'logout'%}">Выйти</a>
    {%else%}
        <h3>Вы не авторизованы на сайте</h3>
        <a href="{%url 'another_login'%}">Войти</a>
    {%endif%}

    <h1>Free Ads</h1>

    {% if advertisement_list %}
        <ul>
            {%for advertisement in advertisement_list%}
            <li>
                 <a href="/advertisements/{{advertisement.id}}">{{advertisement.title}}</a>
            </li>
            {%endfor%}
        </ul>
    {%else%}
        <h2>Ads is empty</h2>
    {%endif%}
</body>
    
</html>